{extend name="common/base" /}

{block name="title"} {__block__}{/block}

{block name="content"}
	<div class="row">
      <div class="col-md-3">
       
        
        
        <div class="relate-list" data-url="{:url('ajex_relate_Article','id='.$article->id)}"></div>


        <div class="category-list" data-url="{:url('ajex_category_list')}"></div>
        </div>
      <div class="col-md-9">
        <ol class="breadcrumb">
          <li><a href="{:url('homepage')}">首页</a></li>
          <li><a href="{:url('article_list', 'category='.$article->category->id)}">{$article->category->name}</a></li>
          <li class="active">文章</li>
        </ol>
        <section class="content-wrap">
          <header class="post-head">
            <h1 class="post-title">{$article->title}</h1>
            <span class="author">作者：<a href="{:url('user_info','id='.$article->user->id)}">{$article->user->nickname}</a></span> •
            <time class="post-date" datetime="2016-12-27 12:35:14.0" title="2016-12-27 12:35:14.0">{$article->created_time|date="Y年m月d日" }</time>
            &nbsp;&nbsp;&nbsp;阅读 {$article->views}
          </header>
          <hr>
          <section class="post-content">
            {$article->body|nl2br|raw}
          </section>
          <hr>
          <section class="post-content">
            <div class="blog-copyright">
              <span title="CDCN - 码上中国博客文章版权属于作者，受法律保护。未经作者同意不得转载。">©
                著作权归作者所有</span>
            </div>
          </section>
          <section class="post-content">
            <b>分类</b>&nbsp;&nbsp;&nbsp;
            <a href="{:url('article_list', 'category='.$article->category->id)}"><span class="badge blue">{$article->category->name}</span></a>
          </section>
          <br>
          <section class="post-content"> 
            <b>标签</b>&nbsp;&nbsp;&nbsp;

            {foreach $article->tags as $tag } 
    	   		<a href="{:url('admin_list_detail', 'id='.$article->id)}"><span class="badge blue">{$tag->name}</span></a>&nbsp;&nbsp;
			     	{/foreach}
          </section>
        </section>
      </div>
    </div>
  </div>
{/block}