{extend name="common/base" /}

{block name="title"}  {__block__}{/block}

{block name="content"}
	<div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <section class="user-msg">
            <div class="header">
            	 {if $user->avatar}
                <img src="__UPLOAD__/{$user->avatar}" alt="" style="width:200px;height:150px;" class="img-circle img-responsive img-avatar">
              {else /}
                <img src="__STATIC__/images/header.jpg" alt="" class="img-circle img-responsive">
              {/if}
            </div>
            <h5>{$user->nickname}</h5>
          </section>
          <div class="list-group">
            博文数量 {$articles->total()}
          </div>
        </div>

        <div class="category-list" data-url="{:url('ajex_category_list')}"></div>

      </div>
      <div class="col-md-9">
        <ol class="breadcrumb">
          <li><a href="#">首页</a></li>
          <li class="active">超级无敌大飞</li>
        </ol>
        <div class="post-list list-group">
        	{foreach $articles as $article}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              <a href="{:url('admin_list_detail','id='.$article->id)}">{$article->title}</a>
            </h4>
            <p>
              <span class="label label-info"><b>{$article->created_time|date='Y年m月d日 H时i分'}</b></span>
              &nbsp;&nbsp;&nbsp;阅读 <span class="badge">2853</span>
            </p>
            <p class="subtitle">
             {$article->sub_title}
            </p>
          </div>
          <hr>
 		{/foreach}
        </div>
        <ul class="pagination">
          {$page|raw}
        </ul>
      </div>
    </div>
  </div>
{/block}