{extend name="common/base" /}

{block name="title"}  {__block__}{/block}

{block name="content"}
  <div class="row">
      <div class="col-md-9">
        
        {foreach $articles as $article } 
        <div class="blog-list">
          <div class="blog">
            <a href="./内容页.html">
              <h2 class="blog-title">{$article->title}</h2>
              <h3 class="blog-subtitle">大家好</h3>
              <div class="blog-content-preview">
                {:mb_substr($article->body,0,50)}...
              </div>
            </a>
            <p class="blog-meta"><a href="{:url('user_info','id='.$article->user->id)}">{$article->user->nickname}</a> 发布于{$article->created_time|date='Y年m月d日 H时i分'}</p>
          </div>
        </div>
        <hr>
        {/foreach}
      </div>
   
      <div class="col-md-3">

        <div class="tag-list" data-url="{:url('ajex_tag_list')}"></div>
       <div class="category-list" data-url="{:url('ajex_category_list')}"></div>
    </div>
  </div>
  {/block}